
<%= form_for @short, remote: true do |f| %>
  <%= f.text_field :url, placeholder: 'URL' %><br><br>
  <button>
    <img src="http://www.englishexercises.org/makeagame/my_documents/my_pictures/2012/jan/6B3_shorts.png" alt="" />
  </button>
<% end %>

<p>
  <pre id="short"></pre>
</p>
